:root{
    --text: #131711;
    --background: #f7faf6;
    --primary: #7eb757;
    --secondary: #afdc90;
    --accent: #9bde6b;
}

.placesContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem;
    border: 2px solid var(--primary);
    border-radius: 10px;
    background-color: var(--background);
}

.user {
    width: 95%;
    display: flex;
    flex-direction: column;
    margin: 1rem;
    font-size: 25px;
}