.profileContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.editPerfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    margin: 30px;
    border-radius: 20px;
    border: 2px solid var(--primary);
    height: 800px;
}

.reservesContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    border: 2px solid var(--primary);
    border-radius: 20px;
    margin: 30px;
}

.reserve {
    width: 90%;
    background-color: var(--secondary);
    margin: 1rem;
    border: 2px solid var(--primary);
    border-radius: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nameContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reserveInfoContainer {
    width: 100%;
    padding-left: 2rem;
}

#infoReserve {
    font-size: 18px;
}