.reserveContainer {
    margin: 4rem;
    border: 2px solid var(--primary);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form ul {
    padding: 0;
}

form li {
    list-style: none;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    padding: 10px 0px;
}