:root {
    --text: #131711;
    --background: #f7faf6;
    --primary: #7eb757;
    --secondary: #afdc90;
    --accent: #9bde6b;
}

* {
    margin: 0;
}

.homeHeader {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--primary);
    padding: 0px 20px;
}

