:root{
    --text: #131711;
    --background: #f7faf6;
    --primary: #7eb757;
    --secondary: #afdc90;
    --accent: #9bde6b;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Arimo", sans-serif;
    font-optical-sizing: auto;
}

span {
    font-family: "Bebas Neue", sans-serif;
    font-size: 40px;
}

a {
    border: 2px solid var(--primary);
    border-radius: 20px;
    padding: 10px;
    text-decoration: none;
    background-color: var(--accent);
    color: var(--text);
}

a:hover {
    background-color: var(--primary);
}

button {
    border: 2px solid var(--primary);
    border-radius: 20px;
    padding: 10px;
    text-decoration: none;
    background-color: var(--accent);
    color: var(--text);
}

button:hover{
    background-color: var(--primary);
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
}

.inputPersonalized {
    width: 100%;
    border: 2px solid var(--primary);
    height: 40px;
    border-radius: 20px;
    padding: 0px 15px;
    outline: none;
}